/vendor/

/wp
/wp-content/plugins/*
/wp-content/languages/*
!/wp-content/languages/boxuk*.pot
!/wp-content/languages/boxuk*.po
!/wp-content/languages/boxuk*.mo

!/wp/.gitkeep
!/wp-content/mu-plugins/index.php
!/wp-content/plugins/index.php

/wp-content/uploads
/wp-content/vendor
/wp-content/object-cache.php
/wp-content/advanced-cache.php
/wp-content/cache
/wp-content/wonolog
/wp-content/db.php

/wp-content/mu-plugins/000-boxuk/cache/*
!/wp-content/mu-plugins/000-boxuk/cache/.gitkeep

debug.log

# Sometimes we want to force mu-plugins but we don't want to commit to repo, list those here
/wp-content/mu-plugins/flagpole
/wp-content/mu-plugins/wp-hook-attributes

/node_modules/

/bin/*
!/bin/docker
!/bin/.gitkeep
!/bin/install
!/bin/vip-install
!/bin/clearcache
!/bin/dump-di-cache
!/bin/rebuild
!/bin/create-mu-plugin
!/bin/makepot
!/bin/pot2po
!/bin/po2mo
!/bin/backstop_report

.env
/.env.local
/.env.local.php
/.env.*.local

/tests/.env
/tests/tmp/*
!/tests/tmp/.gitkeep
.phpunit.result.cache
.phpunit.cache/

!docker/database/init.sql
auth.json

/docker/nginx/conf/styleguide.conf
playwright-report
.turbo/

/coverage/*
!/coverage/index.html
