language: php

dist: bionic

php:
    - 8.0
    - 8.1.0 # See https://travis-ci.community/t/php-8-1-support/12439/16

matrix:
    allow_failures:
        - php: 8.1.0
    fast_finish: true

branches:
    only:
        - main

services:
    - mysql

cache:
    directories:
        - "/home/travis/.composer/cache"
        - "tests/tmp"

before_install:
    - composer selfupdate
    - chmod +rw ./tests/tmp
    - curl -L https://github.com/fabpot/local-php-security-checker/releases/download/v1.0.0/local-php-security-checker_1.0.0_linux_amd64 --output ./bin/php-security-checker
    - chmod 755 ./bin/php-security-checker

install:
    - travis_retry composer install -a
    - travis_retry composer install -a --working-dir=tools/php_codesniffer

before_script:
    - mysql -e 'CREATE DATABASE IF NOT EXISTS wordpress_test;'

script:
    - composer check-platform-reqs --no-dev
    - ./tools/php_codesniffer/vendor/bin/phpcs . --severity=1
    - ./bin/php-security-checker
    - export WP_MULTISITE=0; ./bin/phpunit --exclude-group=ms-required
    - export WP_MULTISITE=1; ./bin/phpunit --exclude-group=ms-excluded
