<?xml version="1.0"?>
<ruleset name="BoxUK WordPress Project"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xsd">

	<config name="text_domain" value="wp-project-skeleton" /> <!-- Set the text domain for the project -->
	<config name="testVersion" value="8.2-" /> <!-- Set the PHP version to test against -->
	<config name="minimum_supported_wp_version" value="6.4" /> <!-- Set the minimum supported WordPress version -->

    <!-- Output Progress and Colors -->
    <arg value="sp"/>
    <arg name="colors"/>

    <!-- Scan Themes and Plugins -->
    <file>wp-content</file>

    <!-- Exclude dependencies -->
    <exclude-pattern>*/mu-plugins/wp-feature-flags*</exclude-pattern>
    <exclude-pattern>*/mu-plugins/wp-editor-tools*</exclude-pattern>
    <exclude-pattern>wp-content/plugins*</exclude-pattern>

    <!-- Let PHPCS know our custom capabilities. -->
	<rule ref="WordPress.WP.Capabilities">
		<properties>
			<property name="custom_capabilities" type="array">
				<!-- <element value="custom_capability" /> -->
			</property>
		</properties>
	</rule>

    <!-- Follow BoxUK Coding Standards -->
    <rule ref="WordPress-Box" />
</ruleset>
