includes:
    - wp-content/vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: 9
  bootstrapFiles:
    - ./tests/phpstan-bootstrap.php
  dynamicConstantNames:
    - VIP_GO_ENV
    - WP_PLUGIN_DIR
    - A8C_PROXIED_REQUEST
  scanDirectories:
    - wp
    - wp-content
  paths:
    - wp-content/mu-plugins
    - wp-content/themes
  excludePaths:
    analyseAndScan:
      - 'wp-content/mu-plugins/*/tests/*.php'
      - 'wp-content/mu-plugins/*/Tests/*.php'
      - 'wp-content/mu-plugins/*/build/*.php'
      - 'wp-content/themes/*/build/*.php'
      - 'wp-content/db.php'
      - 'wp-content/object-cache.php'
      - 'wp/wp-admin/includes/noop.php'
      - 'wp-content/vendor/10up/wp_mock'
    analyse:
      - wp-content/mu-plugins/flagpole
      - wp-content/mu-plugins/wp-hook-attributes
      - wp-content/mu-plugins/vendor
  ignoreErrors:
    - '#^Parameter \#[1-9] \$[a-zA-Z0-9_]+ of method [a-zA-Z0-9\\\:_]+\(\) expects [A-Za-z\\_]+, PHPUnit\\Framework\\MockObject\\MockObject given\.#' # Mocked objects
    - '#no value type specified in iterable type array#' # Undefined Array Types (Method)
    - identifier: missingType.generics
  reportUnmatchedIgnoredErrors: false