<?php
/**
 * Plugin Name: {{plugin_name}}
 * Description: {{plugin_description}}
 *
 * @package {{plugin_package}}
 */

declare( strict_types=1 );

use function BoxUk\Mu\Plugins\boxuk_container;

$example = boxuk_container()->get( 'BoxUk\Mu\Plugins\{{plugin_autoload_name}}\ExampleService' );
$example->init();
