<?php
/**
 * Class ExampleTest.
 *
 * @package BoxUK
 */

declare( strict_types=1 );

namespace BoxUk\Mu\Plugins\{{mu-plugin_autoload_name}}\Tests;
use use WP_Mock\Tools\TestCase;

/**
 * Example test case.
 */
class ExampleTest extends TestCase {
	/**
	 * A single example test.
	 */
	public function test_example_test_returns_true(): void {
		// Replace this with some actual testing code.
		self::assertTrue( true );
	}
}
