name: PHP Tests

on:
    pull_request:
    workflow_run:
        workflows: ["Update WP Deps"]
        types:
            - completed

env:
    fail-fast: true


permissions:
    contents: read
    statuses: write

jobs:
  test:
    name: PHP Tests ${{ matrix.php }}
    runs-on: ubuntu-latest
    services:
      database:
        image: mariadb:10.11.9
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: wordpress
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    strategy:
      fail-fast: false
      matrix:
        include:
          - php: 8.2
            required: 'required'
          - php: 8.3
            required: 'required'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        if: github.event_name != 'workflow_run'

      - name: Checkout
        uses: boxuk/checkout-pr@main
        id: checkout-deps
        if: github.event_name == 'workflow_run'
        with:
            github-token: ${{ secrets.GITHUB_TOKEN }}
            job-name: PHP Tests ${{ matrix.php }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: intl, zip, pcov
          coverage: pcov
      - name: Setup dependencies
        run: composer install
        continue-on-error: ${{ matrix.required == 'optional' }}
      - name: Run PHPCS
        run: composer phpcs
        continue-on-error: ${{ matrix.required == 'optional' }}
      - name: Run PHPStan
        run: composer phpstan
        continue-on-error: ${{ matrix.required == 'optional' }}
      - name: Run Security Checks
        uses: symfonycorp/security-checker-action@v5
        continue-on-error: ${{ matrix.required == 'optional' }}
      - name: Run PHPUnit
        run: composer phpunit
        continue-on-error: ${{ matrix.required == 'optional' }}
      - name: Run PHP Integration Tests
        run: composer phpintegration
        continue-on-error: ${{ matrix.required == 'optional' }}
        env:
          DB_NAME: wordpress
          DB_USER: root
          DB_PASSWORD: root
          DB_HOST: database

      - name: Mark Check Outcome
        if: github.event_name == 'workflow_run' && always()
        uses: boxuk/mark-check-status@main
        with:
          status: ${{ job.status }}
          pr-head-sha: ${{ steps.checkout-deps.outputs.pr-head-sha }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          job-name: PHP Tests ${{ matrix.php }}
